---
interface Props{
  isBig? : boolean
  name : string
}

const { isBig, name} = Astro.props
---

  <h3
    class:list={[
      `text-2xl  text-center font-bold  capitalize 
        bg-gradient-to-br from-slate-100 to-sky-400 bg-clip-text text-transparent`,
      { 'text-4xl py-4 ': isBig },
    ]}
  >
    {name}
  </h3>