---
import { boolean } from 'astro:schema'
import { pokemonTypes } from 'src/utilities/pokemonTypes'

interface Props {
  types?: string[]
  columns?: boolean
}

const { types , columns } = Astro.props
---

<div class="mx-auto">
  <ul
    class:list={['text-slate-100 capitalize flex justify-center gap-2 items-center' , {'grid grid-cols-2' : columns}]}
  >
    {
      types?.map((type: string) => (
        <li
          class={`px-4 py-2 text-lg rounded-md text-white font-bold text-center`}
        >
          <img
            src={`/pokemonTypes/${type}.png`}
            alt={`tipo de pokémon ${type}`}
            class="w-16 "
          />
          {pokemonTypes[type]}
        </li>
      ))
    }
  </ul>
</div>
