---
interface Props{
  title:string
}

const { title } = Astro.props
---
    <div class="text-center">
      <h1 class='pt-12 pb-4 mb-8 mx-auto inline-block
				 text-3xl md:text-5xl font-bold bg-clip-text text-transparent text-center
				bg-gradient-to-br from-zinc-50 to-cyan-600  border-b-3 border-sky-600'>
       {title}
       <slot/>
    </h1>
    </div>
    