---
import { Icon } from 'astro-icon/components'
---

<button
  class='text-sky-400 text-2xl text-center mx-auto block cursor-pointer hover:text-sky-600 mt-8'
  onclick='history.back()'
>
  <Icon name='back-outline' class='inline-block text-4xl' /> Regresar
</button>
