---
  interface Favorite {
    pokemonId : string
    pokemonName : string
  }

import Layout from "@layouts/Layout.astro";

---

<Layout title="Favoritos" >

  <h1 class="text-4xl text-zinc-100">Favoritos</h1>
  
  </div>
</Layout>