---
import { Icon } from "astro-icon/components";
import { FavoritePokemons } from "@components/pokemons/FavoritePokemons";
import Layout from "@layouts/Layout.astro";
import Title from "@components/titles/Title.astro";
---

<Layout title="Favoritos" >
  <div>
    <Title title="Favoritos"> <Icon name="heart-fill" class="inline-block"/>  </Title>
  </div>
  <FavoritePokemons client:only="solid-js" />
</Layout>