---
import AnchortTag from './AnchorTag.astro'
---

<nav class='shadow'>
  <div class='container flex items-center justify-center gap-4 p-6 mx-auto'>
    <AnchortTag content='Inicio' path='/' />
    <AnchortTag content='PokéVerse' path='/pokemons/1' />
    <AnchortTag content='Favoritos' path='/favoritos' />
 
  </div>
</nav>
