---
import AnchortTag from './AnchorTag.astro'
---

<nav class='shadow bg-gradient-to-br from-gray-800 to-cyan-900'>
  <div class='container  flex items-center justify-center p-6 mx-auto'>
    <AnchortTag content='Listado' path='/' />
    <AnchortTag content='Favoritos' path='/favoritos' />
    <AnchortTag content='Páginado' path='/pokemons/1' />
  </div>
</nav>
